<div class="card shadow-lg mx-4 mx-lg-5 mt-4 mt-lg-5 mb-0">
    <div class="card-header d-flex flex-row justify-content-between align-items-center">
        {{#if (is_author userName)}}
        <h3 class="card-title">{{{title}}}</h3>
        <p class="card-subtitle text-end">Posted by {{{user.user_name}}} on {{{format_date created_at}}}</p>
        {{else}}
        <h3 class="card-title grey">{{{title}}}</h3>
        <p class="card-subtitle text-end grey">Posted by {{{user.user_name}}} on {{{format_date created_at}}}</p>
        {{/if}}
    </div>
    <div class="card-body">
        <p class="card-text">
            {{{content}}}
        </p>
    </div>
</div>